.table {
  width: 500px;
  height: auto;
  border: 1px solid rgb(221, 216, 216);
  box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.15);
}

.thead {
  color: white;
  text-align: center;
  height: 40px;
  background: rgba(66, 125, 245, 0.578);
}

.tbody {
  text-align: center;
}

.tr {
  height: 40px;
}

tbody td {
  padding: 0;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #cecace;
}
